extends layout

block content
	form.form-frame(method='POST', action='/movies/add', onsubmit='return validateForm()')
		h4 Add Movie 
		<hr>
		#form-group
			label Title
			input.form-control(name='title', type='text')
		#form-group
			label Description
			input.form-control(name='description', type='text')    
		#form-group
			label Year
			input.form-control(name='year', type='text')
		#form-group
			label IMDB Rating
			input.form-control(name='rating', type='text')
		#form-group
			label Country
			input.form-control(name='country', type='text')
		#form-group
			label Language
			input.form-control(name='language', type='text')
		br
		input.btn-submit(type='submit',value='Add')