extends layout

block content
	div.d-flex.justify-content-between.align-items-center.movie-header
		h4 Movies 
		a(href='/movies/add') Add Movie
	ul.list-group
		each movie, i in movies
			li.list-group-item
				a(href="/movies/"+movie._id)= movie.title