doctype html
html
	head
		title Node Express Application
		link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
		link(rel='stylesheet' href='/css/main.css')
	body    
		block content   



script(src='/bower_components/jquery/dist/jquery.js')  
script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
script(src='/js/main.js')  
